{
	"semi": false,
	"singleQuote": true,
	"useTabs": true,
	"printWidth": 45,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"arrowParens": "always",
	"endOfLine": "lf"
}
